In [1]:
import numpy as np
import pandas as pd
from sklearn import ensemble, neighbors, linear_model, metrics, preprocessing
from datetime import datetime
import glob, re

In [2]:
#Load all Files (hey must be in input directory in a brother directory of the notebook)
data_load = {
    'air_reserve': pd.read_csv('../input/air_reserve.csv',parse_dates=['visit_datetime','reserve_datetime']), 
    'hpg_reserve': pd.read_csv('../input/hpg_reserve.csv',parse_dates=['visit_datetime','reserve_datetime']), 
    'air_store': pd.read_csv('../input/air_store_info.csv'),
    'hpg_store': pd.read_csv('../input/hpg_store_info.csv'),
    'air_visit': pd.read_csv('../input/air_visit_data.csv',parse_dates=['visit_date']),
    'store_id': pd.read_csv('../input/store_id_relation.csv'),
    'sample_sub': pd.read_csv('../input/sample_submission.csv'),
    'holiday_dates': pd.read_csv('../input/date_info.csv',parse_dates=['calendar_date']).rename(columns={'calendar_date':'visit_date'})
    }

In [3]:
date_info = data_load['holiday_dates']
wkend_holidays = date_info.apply(
    (lambda x:(x.day_of_week=='Sunday' or x.day_of_week=='Saturday') and x.holiday_flg==1), axis=1)

In [4]:
wkend_holidays

0      False
1       True
2       True
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
487    False
488    False
489    False
490    False
491    False
492    False
493    False
494    False
495    False
496    False
497    False
498    False
499    False
500    False
501    False
502    False
503    False
504    False
505    False
506    False
507    False
508    False
509    False
510    False
511    False
512    False
513    False
514    False
515    False
516    False
Length: 517, dtype: bool

In [5]:
date_info.loc[wkend_holidays, 'holiday_flg'] = 0
date_info

    visit_date day_of_week  holiday_flg
0   2016-01-01      Friday            1
1   2016-01-02    Saturday            0
2   2016-01-03      Sunday            0
3   2016-01-04      Monday            0
4   2016-01-05     Tuesday            0
5   2016-01-06   Wednesday            0
6   2016-01-07    Thursday            0
7   2016-01-08      Friday            0
8   2016-01-09    Saturday            0
9   2016-01-10      Sunday            0
10  2016-01-11      Monday            1
11  2016-01-12     Tuesday            0
12  2016-01-13   Wednesday            0
13  2016-01-14    Thursday            0
14  2016-01-15      Friday            0
15  2016-01-16    Saturday            0
16  2016-01-17      Sunday            0
17  2016-01-18      Monday            0
18  2016-01-19     Tuesday            0
19  2016-01-20   Wednesday            0
20  2016-01-21    Thursday            0
21  2016-01-22      Friday            0
22  2016-01-23    Saturday            0
23  2016-01-24      Sunday            0
24  2016-01-25      Monday            0
25  2016-01-26     Tuesday            0
26  2016-01-27   Wednesday            0
27  2016-01-28    Thursday            0
28  2016-01-29      Friday            0
29  2016-01-30    Saturday            0
..         ...         ...          ...
487 2017-05-02     Tuesday            0
488 2017-05-03   Wednesday            1
489 2017-05-04    Thursday            1
490 2017-05-05      Friday            1
491 2017-05-06    Saturday            0
492 2017-05-07      Sunday            0
493 2017-05-08      Monday            0
494 2017-05-09     Tuesday            0
495 2017-05-10   Wednesday            0
496 2017-05-11    Thursday            0
497 2017-05-12      Friday            0
498 2017-05-13    Saturday            0
499 2017-05-14      Sunday            0
500 2017-05-15      Monday            0
501 2017-05-16     Tuesday            0
502 2017-05-17   Wednesday            0
503 2017-05-18    Thursday            0
504 2017-05-19      Friday            0
505 2017-05-20    Saturday            0
506 2017-05-21      Sunday            0
507 2017-05-22      Monday            0
508 2017-05-23     Tuesday            0
509 2017-05-24   Wednesday            0
510 2017-05-25    Thursday            0
511 2017-05-26      Friday            0
512 2017-05-27    Saturday            0
513 2017-05-28      Sunday            0
514 2017-05-29      Monday            0
515 2017-05-30     Tuesday            0
516 2017-05-31   Wednesday            0

[517 rows x 3 columns]

In [6]:
date_info['weight'] = ((date_info.index + 1) / len(date_info)) ** 5

In [7]:
date_info

    visit_date day_of_week  holiday_flg        weight
0   2016-01-01      Friday            1  2.707368e-14
1   2016-01-02    Saturday            0  8.663577e-13
2   2016-01-03      Sunday            0  6.578904e-12
3   2016-01-04      Monday            0  2.772345e-11
4   2016-01-05     Tuesday            0  8.460525e-11
5   2016-01-06   Wednesday            0  2.105249e-10
6   2016-01-07    Thursday            0  4.550273e-10
7   2016-01-08      Friday            0  8.871503e-10
8   2016-01-09    Saturday            0  1.598674e-09
9   2016-01-10      Sunday            0  2.707368e-09
10  2016-01-11      Monday            1  4.360243e-09
11  2016-01-12     Tuesday            0  6.736798e-09
12  2016-01-13   Wednesday            0  1.005227e-08
13  2016-01-14    Thursday            0  1.456087e-08
14  2016-01-15      Friday            0  2.055908e-08
15  2016-01-16    Saturday            0  2.838881e-08
16  2016-01-17      Sunday            0  3.844075e-08
17  2016-01-18      Monday            0  5.115756e-08
18  2016-01-19     Tuesday            0  6.703711e-08
19  2016-01-20   Wednesday            0  8.663577e-08
20  2016-01-21    Thursday            0  1.105716e-07
21  2016-01-22      Friday            0  1.395278e-07
22  2016-01-23    Saturday            0  1.742555e-07
23  2016-01-24      Sunday            0  2.155775e-07
24  2016-01-25      Monday            0  2.643914e-07
25  2016-01-26     Tuesday            0  3.216726e-07
26  2016-01-27   Wednesday            0  3.884777e-07
27  2016-01-28    Thursday            0  4.659480e-07
28  2016-01-29      Friday            0  5.553123e-07
29  2016-01-30    Saturday            0  6.578904e-07
..         ...         ...          ...           ...
487 2017-05-02     Tuesday            0  7.492839e-01
488 2017-05-03   Wednesday            1  7.569925e-01
489 2017-05-04    Thursday            1  7.647644e-01
490 2017-05-05      Friday            1  7.726001e-01
491 2017-05-06    Saturday            0  7.804998e-01
492 2017-05-07      Sunday            0  7.884640e-01
493 2017-05-08      Monday            0  7.964931e-01
494 2017-05-09     Tuesday            0  8.045875e-01
495 2017-05-10   Wednesday            0  8.127475e-01
496 2017-05-11    Thursday            0  8.209737e-01
497 2017-05-12      Friday            0  8.292663e-01
498 2017-05-13    Saturday            0  8.376257e-01
499 2017-05-14      Sunday            0  8.460525e-01
500 2017-05-15      Monday            0  8.545469e-01
501 2017-05-16     Tuesday            0  8.631094e-01
502 2017-05-17   Wednesday            0  8.717405e-01
503 2017-05-18    Thursday            0  8.804404e-01
504 2017-05-19      Friday            0  8.892097e-01
505 2017-05-20    Saturday            0  8.980487e-01
506 2017-05-21      Sunday            0  9.069578e-01
507 2017-05-22      Monday            0  9.159375e-01
508 2017-05-23     Tuesday            0  9.249882e-01
509 2017-05-24   Wednesday            0  9.341103e-01
510 2017-05-25    Thursday            0  9.433042e-01
511 2017-05-26      Friday            0  9.525704e-01
512 2017-05-27    Saturday            0  9.619093e-01
513 2017-05-28      Sunday            0  9.713212e-01
514 2017-05-29      Monday            0  9.808067e-01
515 2017-05-30     Tuesday            0  9.903662e-01
516 2017-05-31   Wednesday            0  1.000000e+00

[517 rows x 4 columns]