In [1]:
import pandas as pd
import numpy as np

### Retrieve the data

In [2]:
#Load all Files (hey must be in input directory in a brother directory of the notebook)
data_load = {
    'air_reserve': pd.read_csv('../input/air_reserve.csv',parse_dates=['visit_datetime','reserve_datetime']), 
    'hpg_reserve': pd.read_csv('../input/hpg_reserve.csv',parse_dates=['visit_datetime','reserve_datetime']), 
    'air_store': pd.read_csv('../input/air_store_info.csv'),
    'hpg_store': pd.read_csv('../input/hpg_store_info.csv'),
    'air_visit': pd.read_csv('../input/air_visit_data.csv',parse_dates=['visit_date']),
    'store_id': pd.read_csv('../input/store_id_relation.csv'),
    'sample_sub': pd.read_csv('../input/sample_submission.csv'),
    'holiday_dates': pd.read_csv('../input/date_info.csv',parse_dates=['calendar_date']).rename(columns={'calendar_date':'visit_date'})
    }

In [3]:
# Air Reserve: reservations made in the air system
data_load['air_reserve'].head()
# std	4.92 # min	1.00 # 25%	2.00 # 50%	3.00 # 75%	5.00 # max	100.00

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

In [8]:
# air_store: information about select air restaurants (string columns)
data_load['air_store'].describe(include = ['O'])
# This contains also the longitude/latitude of the area

                air_store_id air_genre_name                   air_area_name
count                    829            829                             829
unique                   829             14                             103
top     air_968d72c12eed09f0        Izakaya  Fukuoka-ken Fukuoka-shi Daimyō
freq                       1            197                              64

In [9]:
#holiday_dates: basic information about the calendar dates in the dataset.
data_load['holiday_dates'].head(5)

  visit_date day_of_week  holiday_flg
0 2016-01-01      Friday            1
1 2016-01-02    Saturday            1
2 2016-01-03      Sunday            1
3 2016-01-04      Monday            0
4 2016-01-05     Tuesday            0